*{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    max-height: 100vh;
    background: rgb(49,27,58);
    background: linear-gradient(19deg, rgba(49,27,58,1) 0%, rgba(125,40,215,1) 64%, rgba(247,235,246,1) 100%);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;

 

}
#particles-js{
    height: 80%;
    background-color: white;
    margin-top:1rem;
    border-radius: 15px;
    
}
::placeholder {
  
  opacity: 1;
}

.hero{
    height: 100%;
    width: 100%;
   /*background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://cdn.mos.cms.futurecdn.net/ntFmJUZ8tw3ULD3tkBaAtf.jpg);
    background-position: center;

    background-size: cover;
    position: absolute;
    */

}
.form-box{
   width: 380px;
    height: 600px;
    position: relative;
    margin: 0% auto;
    overflow: hidden;
    padding-bottom: 16px;
    
}
@media only screen and (max-width: 415px){
    .form-box{
    width: 450px;
    height: 600px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
    
}
    
}
.button-box{
    width: 220px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #775ebe40;
    border-radius: 30px;
   
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position:relative;
    
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    
    border-radius: 30px;
    transition: 0.5s;
}
.input-group{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .4s;
}
.input-field{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #000;
    outline: none;
    
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
    
}
.submit-btn:hover{
    background-color: #d387ab;
    background-image: linear-gradient(315deg, #d387ab 0%, #b279a7 74%);
    -webkit-transform: scale(1.2);
    transition: 0.3s ease;
}
.chech-box{
    margin: 30px 10px 30px 0;
}
span{
   
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
    